html {
  background-color: var(--color);
}
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
:root[theme="Red"] {
  --color: #ff0000;
}
:root[theme="Orange"] {
  --color: #ff8400;
}
:root[theme="Yellow"] {
  --color: #f7e700;
}
:root[theme="Green"] {
  --color: #038f03;
}
:root[theme="Blue"] {
  --color: #0451c4;
}
:root[theme="Indigo"] {
  --color: #581dbf;
}
:root[theme="Violet"] {
  --color: #a902f0;
}
:root[theme="Black"] {
  --color: black;
}
:root[theme="white"] {
  --color: white;
}
.dropbtn {
  display: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 1.5rem;
  position: relative;
  display: inline-block;
}
button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
}
.red {
  background-color: #ff0000;
}
.orange {
  background-color: #ff8400;
}
.yellow {
  background-color: #f7e700;
}
.green {
  background-color: #038f03;
}
.blue {
  background-color: #0451c4;
}
.indigo {
  background-color: #581dbf;
}
.violet {
  background-color: #a902f0;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
  color: white;
}

h1 {
  font-size: 2.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  margin-right: 46%;
  margin-left: 46%;
}

.container {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  margin: 1.5rem;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.part-of-speech {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.definition {
  font-size: 1.5rem;
  color: black;
}

.example {
  font-size: 1.5rem;
  color: black;
}

.synonym {
  font-size: 1.5rem;
  color: black;
  text-transform: capitalize;
}
.link {
  text-decoration: none;
  color: blue;
}
